<!-- app/views/jobs/show.html.erb -->

<h1><%= @job.title %></h1>
<p><%= @job.company_name %></p>
<p><%= @job.location %></p>
<p><%= @job.description %></p>
<%= link_to "Apply Now", @job.url, class: "btn btn-primary" %>
